
body {
  font-size: 1.6rem;
  font-weight: 500;
  background-color:  #fff;
}

.outter-ul{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

}
.outter-li{
  box-sizing: border-box;
  flex: 0 0 25%;
  margin-top: 1.5rem;
}

.outter-li ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.outter-li ul li{
  box-sizing: border-box;
  margin-top: 0.3rem;
}

.outter-li ul li[name='message']{
  position: relative;
}

/*消息页展示*/
.popup_self_model .outter-ul{
  padding-bottom: 1.2rem;
}
.popup_self_model .outter-li{
  margin-top: 0.4rem;
}

.popup_self_model .readFlag{
  flex:1 0 25%;
}

.popup_self_model .outter-li ul{
  width: 80%;
  margin: 0 auto;
}

.popup_self_model .outter-li ul li{
  margin-top: 0rem;
  font-size: 1.4rem;
}
.popup_self_model .outter-ul ul li img{
  width: 3rem;
  height: 3rem;
}
.popTime{
  font-size: 1.4rem;
}

.popTime .pop-time-height{
  height: 3rem;
  line-height: 3rem;
}

.popTime .btn-close{
  color: #F49C49;
  text-align: center;
  border-top:1px solid #dedfe0;
  letter-spacing: 15px;
  font-size: 1.6rem;
  display: block;
}

.popTime div > label{
  display: inline-block;
  width: 30%;
  text-align: center;
}

.message-actived{
  color: #F49C49;
}

.element-actived{
  color: #F49C49;
}

.outter-li ul li[name='message']:before{
  content:attr(message-num);
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #E90301;
  color: white;
  padding: 0px 2px;
}

.outter-ul ul li img{
  width: 4.5rem;
  height: 4.5rem;
}



/*用户展示*/
.show-user > ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.show-user > ul li{

}

